:root{
    --maincolor:#000000;
    --secondarycolor:#3E432E;
    --acsentcolor:#A7D129;
}

body{
    background-color: var(--maincolor);
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;
}

section h1{
    color: white;
    font-size: 2.5rem;
}

/* navbar */

.nav a {
    text-transform: uppercase;
}

.nav-link.active{
    color: var(--acsentcolor) !important;
    font-weight: 700;
}

.nav-dark{
    background-color: var(--secondarycolor) !important;
    z-index: 10;
    transition: .7s;
}

/* end navbar */

/* hero */

.color-acsent{
    color: var(--acsentcolor);
}

#hero{
    color: white;
    min-height: 100vh;
    padding-top: 70px;
}

#hero h1{
    font-size: 3rem;
}

#hero h2{
    font-size: 300;
}

#hero p{
    font-size: 1rem;
    font-weight: 270;
}

/* end hero */

/* CTA */
.btn-custom1{
    background-color: var(--acsentcolor);
    text-align: center;
    color: #fff;
    min-width:150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-custom1:hover{
    box-shadow: 0 0 5px rgba(225, 166, 0, .8);
}
.cv{
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}

.social-icon svg{
    margin-right: .7rem;
    margin-bottom: 10px;
}

.social-icon-footer img{
    margin-right: .7em;
    margin-bottom: 10px;
}

/* about */
hr{
    width: 35%;
    height: 5px;
    color: var(--acsentcolor);
    margin: 0 auto;
    opacity: 100%;
}

#About{
    min-height: 300px;
    width: 100%;
    background-color: var(--secondarycolor);
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}
/* end about */

/* skill */

#skill{
    min-height: 600px;
    width: 100%;
    color: #fff;
}

#skill img{
    width: 9%;
    margin: 10px;
}

#skill .card{
    background-color: #7c865c;
    height: 340px;
}

#skill .card:hover{
    background-color: var(--acsentcolor);
}

.skill-konten{
    margin-top: 120px;
}
/* end skill */

/* sertifikat */
#sertifikat{
    margin-top: -170px;
    padding-top: 270px;
    padding-bottom: 80px;
    background-color: var(--secondarycolor);
}

#sertifikat p a{
    color: #fff !important;
    text-decoration: none;
}

#sertifikat img{
    width: 49%;
    padding: 10px;
}
/* end sertifikat */

/* galery portofolio */
#portofolio .container{
    padding: 100px 20px;

}

/* end galery portofolio */


    
